.dog{
    width: 100%;
    height: 460px;
}

.para{
    text-align: end;
    padding-top: 30px;
}

.para1{
    padding-top: 30px;
}

.topic{
    font: normal normal 600 20px/25px Playpen Sans;
    letter-spacing: 0px;
    color: #217E00;
    opacity: 1;
}

.detail{
    font: normal normal 200 16px/25px Playpen Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.heading{
    text-align: center;
    font: normal normal bold 40px/25px Playpen Sans;
    letter-spacing: 0px;
    color: #543000;
    opacity: 1;
    margin-bottom: 100px;
    margin-top: 100px;
    line-height: 50px;
}