@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import './variables';
// src/styles/globals.scss or a specific component's SCSS file
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";




body {
    font-family: $primary-font;
  }



  .formC{
    border-radius: 0%;
    padding-bottom: 5px;
  }